@font-face {
  font-family: "Inter-700";
  src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-400";
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-600";
  src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: "Inter-500";
  src: url(../fonts/Inter-Medium.ttf);
}
